{% extends "otree/WaitPage.html" %}
{% load otree static %}

{% block global_styles  %}
<style>
    .otree-wait-page.container {
        background-color: black;
        font-family: 'dotumche-pixel', sans-serif;
        font-size: 24px;
        color: white;
        text-align: center;
    }
    .card {
        background-color: black;
        font-family: 'dotumche-pixel', sans-serif;
        font-size: 24px;
        color: white;
        text-align: center; 
        border: 1px solid white;
        box-shadow: none;
    }

    .card-body {
        background-color: black;
        font-family: 'dotumche-pixel', sans-serif;
        font-size: 18px;
        color: white;
        text-align: center;
    }
    body {
        background-color: black;
        font-family: 'dotumche-pixel', sans-serif;
        font-size: 24px;
        color: white;
        text-align: center;
    }

</style>
<style>
    @font-face {
        font-family: 'dotumche-pixel';
        src: url(fonts/dotumche-pixel.ttf);
    }
</style>
{% endblock %}

{% block global_scripts  %}
{% endblock %}