
{{ block content }}
<!-- STYLES-->
<style>
    body {
        background-color: black;
        color: white;
        font-family: 'dotumche-pixel', sans-serif;
        font-size: 20px;
        text-align: center;
        line-height: 2;
    }
    #container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    } 
    #text-container span {
        opacity: 0;
      }
      .otree-title.page-header {
      margin-top: 40px;
      margin-bottom: 00px;
      padding-top: 0px;
    }
    .form-select {
      background-color: white;
      color: black; 
      font-size: 1rem; 
    }
    .col-form-label {
      font-size: 16px;
    }
    .controls {
      text-align: center; 
      margin: 0 auto;
    }
</style>
<!-- Custom font -->
<style>
    @font-face {
        font-family: 'dotumche-pixel';
        src: url(fonts/dotumche-pixel.ttf);
    }
</style>

<!-- SCRIPTS-->
<body>
    <div id="text-container"></div>
    <script>
      function displayTextSequentially_v2(text, element, callback) {
        var letters = text.split("");
        var i = 0;

        for (var j = 0; j < letters.length; j++) {
          var span = document.createElement("span");
          span.innerHTML = letters[j];
          element.appendChild(span);
        }

        var spans = element.getElementsByTagName("span");
        for (var k = 0; k < spans.length; k++) {
          (function(index) {
            setTimeout(function() {
              spans[index].style.opacity = 1;
            }, 70 * index);
          })(k);
        }

        setTimeout(function() {
          if (callback) {
            callback();
          }
        }, 100 * spans.length);
      }

      function generateTexts_v2(texts, displayInterval, parentElement, callback) {
      var i = 0;

      function displayNextText() {
        if (i < texts.length) {
          var textElement = document.createElement("div");
          textElement.id = "text" + i;
          parentElement.appendChild(textElement);
          displayTextSequentially_v2(texts[i], textElement, function() {
            i++;
            setTimeout(displayNextText, displayInterval);
          });
        } else {
          if (callback) {
            callback();
          }
        }
      }

      displayNextText();
    }
    </script>
    
<div id="sexo-form" style="display:none;">
  {% formfield player.sexo %}
</div>
<div id="edad-form" style="display:none;">
  {% formfield player.edad %}
</div>
<div id="carrera-form" style="display:none;">
  {% formfield player.carrera %}
</div>
<div id="ciclo-form" style="display:none;">
  {% formfield player.ciclo %}
</div>
<div id="distrito-de-residencia-form" style="display:none;">
  {% formfield player.distrito_de_residencia %}
</div>
 <!-- Wrap the default oTree "Next" button in a div with an ID and initially set its style to "display:none" -->
 <div id="next-btn-wrapper" style="display:none;">
  {{ next_button }}
</div>
<script>
  $(document).ready(function() {
    // set up event listeners for the input fields
    $('#id_sexo').on('change', function() {
      $('#edad-form').fadeIn();
    });
    $('#id_edad').on('change', function() {
      $('#carrera-form').fadeIn();
    });
    $('#id_carrera').on('change', function() {
      $('#ciclo-form').fadeIn();
    });
    $('#id_ciclo').on('change', function() {
    $('#distrito-de-residencia-form').fadeIn();
  });

  // show the "Next" button when the "distrito_de_residencia" field is changed
  $('#id_distrito_de_residencia').on('change', function() {
    $('#next-btn-wrapper').fadeIn();
  });
});
   var js_order_number = "{{ player.order_number }}"
  var input1 = "¡Hola Participante " + js_order_number + "!"
  var input2 = "Bienvenido a este experimento. Para comenzar, necesitamos que llenes los siguientes datos:"
  
  generateTexts_v2(
    [input1, input2], 
    200, 
    document.getElementById("text-container"), 
    function() {
      $('#sexo-form').fadeIn();
    }
  );
</script>
</div>

{{ endblock }}